<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="MasterDatabase" connectionString="Server=Catwoman;Username=ADO_prod;Password=biy4vru4YkDY6qRlSgqN;Database=glm_prod;Port=3306;CharSet=utf8;Pooling=true;Max Pool Size=5;" />
    <add name="LogConnection" connectionString="Server=Catwoman;Username=ADO_logs;Password=lumb3rj4ck;Database=glm_logs;Port=3306;CharSet=utf8;Pooling=true;Max Pool Size=20;" />
  </connectionStrings>
</configuration>